<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Toko Online</title>
<style>
    /* Style untuk tampilan produk */
    .product {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        width: 200px;
        float: left;
        margin-right: 20px;
    }
</style>
</head>
<body>
    <!-- Tampilan Produk -->
    <div class="product">
      <img src="imgs/img-tas1.jpg" alt="tas">
        <h2>Produk 1</h2>
        <p>Harga: $10</p>
        <button>Add to Cart</button>
    </div>
    <div class="product">
      <img src="imgs/img-tas2.jpg" alt="tas">
        <h2>Produk 2</h2>
        <p>Harga: $15</p>
        <button>Add to Cart</button>
    </div>
    <div style="clear:both;"></div>
</body>
</html>
